body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#player input {
    display: none;
}

#player-selection {
    background-color: rgba(0, 0, 255, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    z-index: 1;
}

#player-icon-section button {
    all: unset;
    cursor: pointer;
}

#game {
    background-color: green;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 70px 30px 30px;
    box-sizing: border-box;

}

#player1-score-board,
#game-section,
#player2-score-board {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 10px solid black;

}

#game-section {
    flex-grow: 2;
    min-width: 50%;
    padding: 100px 0px 0px 0px;
}

#game-board {
    background-color: aqua;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}


.game-box {
    width: 100%;
    height: 100%;
}

#player1-score-board img,
#player2-score-board img {
    width: 200px;
    height: 200px;
}